doctype html
html
    head
        title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='//localhost:3000/javascript/accApp.js')
            body(style='background: #dcd9da')
                h1(align='center', style='color: #ffffff')
                input#username.form-control(type="text", placeholder="Username")
                input#password.form-control(type="password", placeholder="Password")
                input#confirmpassword.form-control(type="password", placeholder="Confirm Password")
