page-home {
    
    td {
        padding: 11px;
        
    }

   
    .button{
        font-size: 14.5px;
        font-weight: bold;
        align-content:flex-start;

    }

    .alignme{
        text-align:bottom;
    }

    .table{
        align-content: center;
    }

    .showdata{
        padding: 16px;
    }
}
