page-home {
    th {
        padding: 11px;
        align-content: center;
      }
    td {
        padding: 11px;

    }

    /*
    .button{
        font-size: 15px;
        font-weight: bold;
        align-content:flex-end;
    }
    */

    
}
